body{
  background-color: #66BFBF;
}
hr{
border-style: none;
border-top-style: dotted;
border-color: #000;
border-width: 5px;
width: 20%;
}
h2,h3{
  color: #008080;
  text-decoration: underline;
}
/* comment in css */
img{
  border-radius: 100%;
  }
  .header{
    text-align: center;
  padding-left: 250px;
  padding-bottom: -250px;
}
.contact{
  text-align: center;
  padding-left: 250px;
}
address{
  text-align: center;
}
